.hubspot_container {
  max-width: 1280px;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'meeting duration timezone'
    'day time identity'
    'day time custom'
    'action action action';
  gap: 1rem 2rem;
  padding: 1rem 2rem;
}
@media (max-width: 576px) {
  .hubspot_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
}
.hubspot_container__meeting-selector {
  grid-area: meeting;
}
.hubspot_container__duration-selector {
  grid-area: duration;
}
.hubspot_container__timezone-selector {
  grid-area: timezone;
}
.hubspot_container__date-picker {
  grid-area: day;
}
.hubspot_container__time-picker {
  grid-area: time;
}
.hubspot_container__identity-fields {
  grid-area: identity;
}
.hubspot_container__custom-fields {
  grid-area: custom;
}
.hubspot_container__meeting-actions {
  grid-area: action;
  display: flex;
  justify-content: space-between;
}

.hubspot_container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}
.hubspot_container li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 4px;
}
.hubspot_container .active {
  font-weight: 600;
  background-color: lightslategray;
  color: white;
}
.hubspot_container fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  border-width: 1px;
  border-color: lightslategray;
  margin: 1rem 0;
  flex-wrap: wrap;
}
.hubspot_container label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}
.hubspot_container input {
  padding: 0.25rem;
  border-radius: 4px;
  border-color: lightgray;
  border-width: 1px;
  font-size: 1rem;
}
.hubspot_container input:focus,
.hubspot_container input:active {
  border-color: lightblue;
}
.hubspot_container label p {
  margin: 0;
}
.hubspot_container__timezone-selector select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 0.75rem 0.5rem;
  border-color: lightslategray;
  border-radius: 4px;
}
.hubspot_container__duration-selector ul {
  flex-direction: row;
  justify-content: space-between;
}

.hubspot_container button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 0.75rem 1.35rem;
  background-color: unset;
}
.hubspot_container__cancel-btn {
  border: 1px solid black;
}
.hubspot_container__submit-btn {
  cursor: pointer;
  background-color: black;
  border: 0;
  color: white;
}
.hubspot_container__submit-btn:disabled {
  cursor: no-drop;
  background-color: darkgray;
}
.hubspot_container__meeting-selector ul {
  display: flex;
  flex-direction: row;
}
